.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  z-index: 1000;
 
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner{
  background-color: rgba(200,200,200,.7);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.spinner_loader-margin
{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}