* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
 
  .navbarc {
    height: 54px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .navbarc > .navbarc-header {
    display: inline;
  }
  
 

  .navbarc > .navbarc-header > .navbarc-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 20px;
    float: left;
  }
  
  .navbarc > .navbarc-btn {
    display: none;
  }
  
  .navbarc > .navbarc-links {
    display: inline;
    float: right;
    font-size: 18px;
    z-index: 1;
  }
  
  .navbarc > .navbarc-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .navbarc > .navbarc-links > .active {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbarc > .navbarc-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .navbarc > #navbarc-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .navbarc > .navbarc-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .navbarc > .navbarc-btn > label {
      display: inline-block;
      width: 50px;
      height: 54px;
      padding: 13px;
    }
    .navbarc > .navbarc-btn > label:hover,.navbarc  #navbarc-check:checked ~ .navbarc-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .navbarc > .navbarc-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .navbarc > .navbarc-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .navbarc > .navbarc-links > a {
      display: block;
      width: 100%;
    }
    .navbarc > #navbarc-check:not(:checked) ~ .navbarc-links {
      height: 0px;
    }
    .navbarc > #navbarc-check:checked ~ .navbarc-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }